---
import BaseLayout from '../layouts/_BaseLayouts.astro';
---
	
<BaseLayout
  pageTitle = 'このサイトについて',
>
    <article class="article_conte">
      <div class="article_header">
        <h1 class="article_headline">このサイトについて</h1>
      </div>
      <div class="article_body">
          <p>日々の記録や趣味・関心のあること、プログラミングなどwebに関する情報を自分のための覚書として掲載しています。</p>
          <p>ヤマツ（Yamatsu）/ 関西圏在住のフロントエンドエンジニア<br>
            好きなCMSはMovable Type、好きな本屋は紀伊國屋書店</p>
      </div>
    </article>
</BaseLayout>