---
import BaseLayout from "./_BaseLayouts.astro";
const {frontmatter} = Astro.props;
---

<BaseLayout
  pageTitle={frontmatter.title};
>
  <article class="article_conte">
    <div class="article_header">
      <h1 class="article_headline">{frontmatter.title}</h1>
      <time datetime="{frontmatter.pubDate.slice(0, 10)}">{frontmatter.pubDate.slice(0, 10)}</time>
    </div>
    <div class="article_body">
      <slot />
    </div>
  </article>
</BaseLayout>